body{
    text-align: center;
    background-color: rgb(22, 22, 22);
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5em;
}

button{
    background-color: rgb(22, 22, 22);
    color: whitesmoke;
    cursor: pointer;
    border-radius: 7px;
    border-width: 0.1em;
    font-size: 0.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-color: green;
}

h1{
    color: green;
}

h2 {
    color: lime;
}

h6 {
    margin: 0;
    padding: 0;
    line-height: 1;
}

p {
    font-size: 1px;
}

#rebirth {
    font-size: 0px;
    border-color: purple;
}

#multInfo {
    font-size: 0px;
    color: rgb(155, 0, 0);
    margin: 0;
}

#multTit {
    font-size: 0px;
    color: red;
}

#multTit:hover #multInfo { /* im going to be transparent with u i just searched ts up and stole it */
    font-size: 15px;
}

#amtRebirthsTit {
    font-size: 0px;
    color: purple;
}

